.additional {
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  border: none;

  @media (min-width: 768px) {
    margin-bottom: 54px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 61px;
  }
}

.additional__title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
  margin-left: -2px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }
}

.additional__title::after {
  position: absolute;
  content: "";
  width: 137px;
  top: 15px;
  right: -158px;
  border-top: 2px solid @basic_green;
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional__item + .additional__item {
  /*margin-top: 13px;*/

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.additional__item:nth-child(1) {
  margin-top: 1px;
}

.additional__item:nth-child(2) {
  margin-top: 19px;
}

.additional__item:nth-child(3) {
  margin-top: 18px;
}

.additional__item:nth-child(4) {
  margin-top: 18px;
}

.additional__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 46px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 46px;
  }
}

.additional__control {
  position: relative;
  display: block;
}

.additional__mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: none;

  &:hover {
    border: 1px solid #bababa;
  }

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.additional__input {
  padding: 0;
  margin: 0;
}

.additional__input:focus ~ .additional__mark {
  outline: 2px solid #000000;
}

.additional__input[type="checkbox"]:checked + .additional__mark::before,
.additional__input[type="checkbox"]:checked + .additional__mark::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 6px;
  width: 18px;
  height: 14px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;

  @media (min-width: 768px) {
    width: 24px;
    height: 19px;
    left: 7px;
  }
}
