.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5eaa2f;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

