.cat-contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 69px;
  }
}

.cat-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.cat-contacts__item + .cat-contacts__item {
  margin-top: 14px;

  @media (min-width: 768px) {
    margin-top: 20px;
  }

  @media (min-width: 1440px) {
    margin-top: 0;
  }
}

.cat-contacts__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.cat-contacts__question {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-contacts__answer {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-contacts__answer-email {
  @media (min-width: 768px) {
    width: 486px;
  }
}

.cat-contacts__answer-phone {
  @media (min-width: 768px) {
    width: 472px;
  }
}
