.cat-contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  border: none;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 69px;
  }
}

.cat-contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.cat-contacts__item {
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: 1440px) {
    width: calc(50% - 38px);
  }
}

.cat-contacts__item + .cat-contacts__item {
  margin-top: 9px;

  @media (min-width: 768px) {
    margin-top: 12px;
  }

  @media (min-width: 1440px) {
    margin-top: 0;
  }
}

.cat-contacts__item:nth-child(2) .cat-contacts__question {
  @media (min-width: 768px) {
    margin-top: 5px;
    margin-left: -1px;
    margin-right: 16px;
  }
}

.cat-contacts__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 33px;
  margin-left: -3px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 68px;
  }
}

.cat-contacts__title::before {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 320px;
    top: -26px;
    left: -20px;
    border-top: 1px solid #cdcdcd;
  }

  @media (max-width: 1439px) {
    position: absolute;
    content: "";
    width: 30px;
    top: 22px;
    left: -66px;
    border-top: 2px solid @basic_green;
  }

  @media (min-width: 1440px) {
    position: absolute;
    content: "";
    width: 70px;
    top: 23px;
    left: -107px;
    border-top: 2px solid @basic_green;
  }
}

.cat-contacts__title::after {
  position: absolute;
  content: "";
  width: 100px;
  top: 16px;
  right: -20px;
  border-top: 2px solid @basic_green;

  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 145px;
    top: 22px;
    right: -184px;
    border-top: 2px solid @basic_green;
  }

  @media (min-width: 1440px) {
    position: absolute;
    content: "";
    width: 778px;
    top: 23px;
    left: 554px;
    border-top: 2px solid @basic_green;
  }
}

.cat-contacts__question {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 19px;
    margin-left: 2px;
    margin-top: 3px;
  }

  @media (min-width: 1440px) {
    margin-right: 18px;
    margin-top: 6px;
  }
}

.cat-contacts__answer {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 15px;
  flex-grow: 1;
  outline: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
    box-shadow: inset 1px 1px 0 0 #444444, inset 0 0 0 1px #444444;
  }

  &--error {
    border: 2px solid #ff8282;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 6px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}

.cat-contacts__answer-email {
  position: absolute;
  content: "";
  top: 18px;
  right: 15px;
  width: 20px;
  height: 14px;
  stroke: #222222;

  &--error {
    stroke: #ff8282;
  }

  @media (min-width: 768px) {
    top: 25px;
    right: 14px;
  }

  @media (min-width: 1440px) {
    top: 27px;
    right: 20px;
  }
}

.cat-contacts__answer:focus + .cat-contacts__answer-email {
  stroke: @basic_green;
}

.cat-contacts__answer:focus + .cat-contacts__answer-phone {
  stroke: @basic_green;
}

.cat-contacts__answer-phone {
  position: absolute;
  content: "";
  top: 15px;
  right: 14px;
  width: 20px;
  height: 20px;
  fill: #222222;

  &--error {
    fill: #ff8282;
  }

  @media (min-width: 768px) {
    top: 23px;
    right: 15px;
  }

  @media (min-width: 1440px) {
    top: 24px;
    right: 17px;
  }
}
