.catalog__wrapper {
  width: 280px;
  padding-top: 27px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 708px;
    padding-top: 65px;
    padding-bottom: 68px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding-top: 74px;
    padding-bottom: 75px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: min-content min-content min-content min-content;
    row-gap: 141px;
    column-gap: 60px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: min-content min-content;
    row-gap: 144px;
    column-gap: 80px;
  }
}

.catalog__item {
  @media (min-width: 768px) {
    background-color: #f2f2f2;
  }
}

.catalog__item:nth-child(2n+1) img {
  @media (min-width: 768px) {
    width: 163px;
    height: 174px;
  }

  @media (min-width: 1440px) {
    width: 161px;
    height: 172px;
  }
}

.catalog__item:nth-child(2n) img {
  @media (min-width: 768px) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: 1440px) {
    width: 172px;
    height: 202px;
  }
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 49px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 163px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 165px;
  }
}

.catalog__item + .catalog__item {
  margin-top: 19px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.catalog__item:last-child {
  margin-top: 36px;
  background-color: #ffffff;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
