.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 49px;
}

.catalog__item + .catalog__item {
  margin-top: 19px;
}
