.catalog__wrapper {
  width: 280px;
  padding-top: 40px;
  margin: 0 auto;
  position: relative;

  @media (min-width: 768px) {
    width: 708px;
    padding-top: 61px;
    padding-bottom: 68px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding-top: 71px;
    padding-bottom: 75px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: min-content min-content min-content min-content;
    row-gap: 141px;
    column-gap: 60px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: min-content min-content;
    row-gap: 135px;
    column-gap: 80px;
  }
}

.catalog__item {
  position: relative;

  @media (min-width: 768px) {
    background-color: #f2f2f2;
  }
}

.catalog__item + .catalog__item {
  margin-top: 19px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.catalog__item::before {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 320px;
    top: -8px;
    left: -20px;
    border-top: 1px solid #cdcdcd;
  }
}

.catalog__item:nth-child(5),
.catalog__item:nth-child(6),
.catalog__item:nth-child(7) {
  @media (min-width: 768px) {
    margin-top: 11px;
  }
}


.catalog__item:nth-child(8)::before {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 320px;
    top: -25px;
    left: -20px;
    border-top: 1px solid #cdcdcd;
  }
}

.catalog__item:nth-child(8)::after {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 320px;
    bottom: -1px;
    left: -20px;
    border-top: 1px solid #cdcdcd;
  }
}

.catalog__item:nth-child(2n+1) img {
  @media (min-width: 768px) {
    width: 163px;
    height: 174px;
  }

  @media (min-width: 1440px) {
    width: 161px;
    height: 172px;
  }
}

.catalog__item:nth-child(2) img {
  @media (min-width: 768px) {
    width: 168px;
    height: 205px;
  }

  @media (min-width: 1440px) {
    width: 172px;
    height: 202px;
  }
}

.catalog__item:nth-child(4) img {
  @media (min-width: 768px) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: 1440px) {
    width: 172px;
    height: 198px;
  }
}

.catalog__item:nth-child(5) img {
  @media (min-width: 768px) {
    width: 163px;
    height: 172px;
  }

  @media (min-width: 1440px) {
    width: 161px;
    height: 172px;
  }
}

.catalog__item:nth-child(6) img {
  @media (min-width: 768px) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: 1440px) {
    width: 172px;
    height: 198px;
  }
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 49px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 162px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 165px;
  }
}

.catalog__title::before {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 320px;
    top: 12px;
    left: -20px;
    border-top: 1px solid #cdcdcd;
  }
}

.catalog__item:last-child {
  margin-top: 36px;
  background-color: #ffffff;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}
