.change-weight__wrapper {
  width: 280px;
  margin: 20px;
  padding: 30px 33px 18px 20px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    width: 708px;
    margin: 30px; /*здесь, наверное, у блока Похудение верхний margin убрать*/
    padding: 77px 62px 53px 52px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    margin-top: 82px;
    margin-bottom: 71px;
    padding: 77px 51px 55px 52px;
    width: 570px;
  }
}

.change-weight__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    text-align: center;
  }
}

.change-weight__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 38px;
  width: 227px;

  @media (min-width: 768px) {
    width: 340px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  @media (min-width: 1440px) {
    width: 467px;
    margin-top: 73px;
    margin-bottom: 23px;
  }
}

.change-weight__catalog-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

