.change-weight__wrapper {
  width: 280px;
  margin: 20px;
  padding-bottom: 18px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    width: 708px;
    margin: 30px;
    padding-bottom: 53px;
  }

  @media (min-width: 1440px) {
    width: 570px;
    margin: 0;
    padding-bottom: 55px;
  }
}

.change-weight__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;

  @media (min-width: 768px) {
    padding-top: 77px;
    padding-left: 53px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    padding-left: 214px;
  }
}

.change-weight__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 29px 33px 38px 20px;

  @media (min-width: 768px) {
    width: 340px;
    padding: 24px 54px 48px 52px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: 1440px) {
    width: 467px;
    padding: 73px 51px 23px 52px;
  }
}

.change-weight__catalog-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 19px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 52px;
  }
}

