.copyright {
  width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 163px;
    margin: 0;
  }
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
