.description__wrapper {
  width: 280px;
  padding-top: 0;
  padding-bottom: 49px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    padding-top: 0;
    padding-bottom: 47px;
    padding-left: 30px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding-top: 0;
    padding-bottom: 69px;
    padding-left: 0;
  }
}

.description__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 32px;
  }
}

.description__text {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 250px 250px; /*взяла среднее значение*/
    column-gap: 140px; /*взяла среднее значение*/
    row-gap: 37px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 245px 245px 245px 245px; /*взяла среднее значение*/
    column-gap: 78px; /*взяла среднее значение*/
    row-gap: 0;
  }
}

.description__item {
  margin-left: 20px;

  @media (min-width: 768px) {
    margin-left: 0;
    padding-top: 151px;
    height: 280px;
  }

  @media (min-width: 1440px) {
    width: 250px;
  }
}

.description__item + .description__item {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

