.example {
  background-color: #eaeaea;

  @media (min-width: 768px) {
    background-color: #ffffff;
  }

  @media (min-width: 1440px) {
    background-color: #f2f2f2
  }
}

.example__wrapper {
  @media (min-width: 1440px) {
    display: flex;
    padding: 69px 110px 65px 110px;
    justify-content: space-between;
  }
}

.example__wrapper-text {
  padding: 25px 20px 40px 20px;

  @media (min-width: 768px) {
    padding: 43px 30px 80px 30px;
  }

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.example__wrapper-toggle {
  padding: 0 20px 40px 20px;

  @media (min-width: 768px) {
    padding: 0 89px 55px 88px;
  }

  @media (min-width: 1440px) {
    padding: 0;
    margin-left: 193px;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 146px;
    margin-bottom: 69px;
  }
}
