.example {
  background-color: #EAEAEA;
}

.example__wrapper {
  padding: 25px 20px 40px 20px;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-bottom: 20px;
}

.example-results {
  margin: 0;
  padding-bottom: 20px;
}

.example-results__sum {
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
}
