.example-toggle__range {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    margin-top: 25px;
  }
}

.example-toggle__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example-toggle__image {
  display: block;
  margin: 0 auto;
  @media (min-width: 768px) {
    display: none;
  }
}

.example-toggle__image-tablet {
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin: 0 auto;
  }
}

