.gift__wrapper {
  width: 280px;
}

.gift {
  background-color: rgba(105, 183, 56, 0.85);
  background-image: url("../img/gift-background.jpg");
  background-repeat: no-repeat;
  height: 290px;
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 187px 61px 43px 58px;
}
