.logo__image {
  @media (min-width: 768px) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: 1440px) {
    width: 202px;
    height: 59px;
  }
}

.logo__image:hover {
  opacity: 80%;
}

.logo__image:active {
  opacity: 60%;
}
