.main-container {
  position: relative;
}

.main-container__wrapper {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;

  @media (min-width: 768px) {
    width: 708px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    padding-left: 80px;
    display: grid;
    grid-template-columns: 460px min-content;
    grid-template-rows: 1fr min-content min-content 1fr;
    position: relative;
    margin-top: -140px;
    padding-top: 165px;
  }
}

.main-container__wrapper-image {
  @media (min-width: 1440px) {
    grid-row: 2 / 3;
  }
}

.main-container__wrapper-image::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/index-background.jpg");
  background-repeat: no-repeat;
  z-index: -1;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/index-background@2x.jpg");
    background-size: 320px 302px;
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1440px) {
    position: absolute;
    content: "";
    width: 50vw;
    min-height: 715px;
    top: 0;
    left: 50%;
    right: initial;
    margin: 0;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    padding-top: 140px;
    display: block;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/index-background-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.main-container__image {
  @media (min-width: 768px) {
    width: 709px;
    height: 609px;
    order: 2;
    margin-top: -83px;
    z-index: -1;
  }

  @media (min-width: 1440px) {
    width: 552px;
    height: 499px;
    z-index: initial;
    grid-row: 1 / 5;
    margin-top: 0;
    margin-left: -92px;
  }
}

.main-container__wrapper picture {
  @media (min-width: 768px) {
    order: 3;
    z-index: -1;
  }

  @media (min-width: 1440px) {
    grid-row: 1 / 5;
  }
}

.main-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding-top: 27px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    width: 416px;
    margin-left: 86px;
    margin-top: 48px;
    padding-top: 0;
    color: #000000;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: 1440px) {
    margin-top: -30px;
    margin-left: 0;
  }
}

.main-container__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;
  margin-left: -2px;

  @media (min-width: 768px) {
    color: #000000;
    text-align: left;
    margin-left: 89px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }

  @media (min-width: 1440px) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.main-container__button {
  font-size: 14px;
  line-height: 18px;
  min-width: 281px;
  padding-top: 10px;
  padding-bottom: 11px;

  @media (min-width: 768px) {
    display: block;
    font-size: 20px;
    line-height: 20px;
    min-width: initial;
    width: 244px;
    padding-top: 17px;
    padding-bottom: 16px;
    margin-left: 90px;
  }

  @media (min-width: 1440px) {
    display: initial;
    margin-top: 52px;
    margin-left: 0;
    grid-row: 3 / 4;
  }
}
