.main-header {
  width: 280px;
  margin: 0 auto;
  margin-top: 10px;

  @media (min-width: 768px) {
    /*width: 708px;*/
    width: 92%; /* 708 делим на 768 */
    max-width: 960px; /* взяла значение как у Андрея в скринкасте */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  @media (min-width: 1440px) {
    /*width: 1220px;*/
    width: 85%; /* 1220 делим на 1440 */
    max-width: 1300px; /* какое значение здесь нужно? */
    margin-top: 53px;
    position: relative;
    z-index: 1;
  }
}

// Стандартное меню c js.
.main-header--with-js {
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}
