.main-footer__wrapper {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 24px;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 768px;*/
    padding: 57px 30px;
  }

  @media (min-width: 1440px) {
    /*width: 1440px;*/
    padding: 57px 110px;
  }
}

.main-footer__contacts {
  @media (min-width: 1440px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    margin: 0;
  }
}

.main-footer__location {
  @media (min-width: 1440px) {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
}

.main-footer__copyright {
  margin-top: 37px;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  @media (min-width: 1440px) {
    margin-top: 2px;
  }
}

.main-footer__map {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 95px min-content 107px;
  }
}

.main-footer__map-wrapper {
  background-color: #f2f2f2;
  width: 100%;
}
