.main-nav__wrapper {
  @media (min-width: 768px) {
    width: 440px;
  }

  @media (min-width: 1440px) {
    width: 478px;
  }
}

/*.main-nav__wrapper::before {
  @media (min-width: 1440px) {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}*/

.main-nav__list {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
  }
}

.main-nav__toggle {
  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}
