.product {
  padding: 11px 19px 14px 20px;

  @media (min-width: 768px) {
    padding: 0 36px 39px 36px;
  }

  @media (min-width: 1440px) {
    padding: 0 30px 40px 39px;
  }
}

.product:nth-child(1) .product__image-link {
  margin-left: 16px;
  margin-top: 13px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -13px;
  }

  @media (min-width: 1440px) {
    margin-left: -4px;
    margin-top: 0;
    margin-bottom: -4px;
  }
}

.product:nth-child(2) .product__image-link {
  margin-left: 8px;
  margin-top: 11px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -18px;
  }

  @media (min-width: 1440px) {
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: -5px;
  }
}

.product:nth-child(3) .product__image-link {
  margin-left: 16px;
  margin-top: 28px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -12px;
  }

  @media (min-width: 1440px) {
    margin-left: -4px;
    margin-top: 0;
    margin-bottom: -4px;
  }
}

.product:nth-child(4) .product__image-link {
  margin-left: 8px;
  margin-top: 11px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -12px;
  }

  @media (min-width: 1440px) {
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: -1px;
  }
}

.product:nth-child(5) .product__image-link {
  margin-left: 16px;
  margin-top: 31px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -12px;
  }

  @media (min-width: 1440px) {
    margin-left: -4px;
    margin-top: 0;
    margin-bottom: -3px;
  }
}

.product:nth-child(6) .product__image-link {
  margin-left: 8px;
  margin-top: 13px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -12px;
  }

  @media (min-width: 1440px) {
    margin-left: -2px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product:nth-child(7) .product__image-link {
  margin-left: 14px;
  margin-top: 25px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -12px;
  }

  @media (min-width: 1440px) {
    margin-left: -4px;
    margin-top: 0;
    margin-bottom: -3px;
  }
}

.product__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: column;
    margin-bottom: 33px;
    position: relative;
  }
}

.product__wrapper:nth-child(2n+1) {
  margin-bottom: 15px;
}

.product__wrapper:nth-child(2n) {
  margin-bottom: 9px;
}

.product:nth-child(1) .product__wrapper {
  margin-bottom: 22px;
}

.product:nth-child(2) .product__wrapper {
  margin-bottom: 9px;
}

.product:nth-child(3) .product__wrapper {
  margin-bottom: 16px;
}

.product:nth-child(4) .product__wrapper {
  margin-bottom: 9px;
}

.product:nth-child(5) .product__wrapper {
  margin-bottom: 12px;
}

.product:nth-child(6) .product__wrapper {
  margin-bottom: 8px;
}

.product:nth-child(7) .product__wrapper {
  margin-bottom: 13px;
}

.product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 15px;
  width: 76px;
  margin-left: 21px;
  margin-top: 1px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 174px;
    margin: 0 auto;
    margin-bottom: 21px;
    padding-top: 161px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 21px;
    padding-top: 162px;
    margin-left: 0;
    margin-bottom: 23px;
  }
}

.product__title br {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
}

.product__title-link {
  text-decoration: none;
  color: #222222;
}

.product__description {
  color: #444444;
  margin: 0;
  width: 142px;

  @media (min-width: 768px) {
    width: 247px;
  }

  @media (min-width: 1440px) {
    width: 180px;
  }
}

.product__button {
  font-size: 16px;
  line-height: 20px;
  min-width: 280px;
  padding-top: 9px;
  padding-bottom: 10px;
  margin-left: -20px;

  @media (min-width: 768px) {
    min-width: 248px;
    margin-left: 2px;
    margin-top: 24px;
  }

  @media (min-width: 1440px) {
    min-width: 168px;
    margin-left: 0;
  }
}

.product:nth-child(1) .product__button {
  @media (min-width: 768px) {
    margin-top: 18px;
  }
}

.product:nth-child(2) .product__button {
  @media (min-width: 768px) {
    margin-top: 31px;
  }
}

.product:nth-child(3) .product__button {
  @media (min-width: 768px) {
    margin-top: 24px;
  }
}

.product:nth-child(4) .product__button {
  @media (min-width: 768px) {
    margin-top: 31px;
  }
}

.product:nth-child(5) .product__button {
  @media (min-width: 768px) {
    margin-top: 28px;
  }
}

.product:nth-child(6) .product__button {
  @media (min-width: 768px) {
    margin-top: 32px;
  }
}

.product:nth-child(7) .product__button {
  @media (min-width: 768px) {
    margin-top: 27px;
  }
}

.product__image-link {
  align-self: center;
  margin-left: 15px;
  margin-top: 15px;

  @media (min-width: 768px) {
    align-self: initial;
    position: absolute;
    content: "";
    left: 50%;
    bottom: calc(100% - 120px);
    transform: translateX(-50%);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: -12px;
  }
}
