.selection-info__inner-wrapper {
  @media (min-width: 768px) {
    width: 565px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: 1440px) {
    width: 829px;
  }
}

.selection-info__questions-wrapper {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    margin-bottom: 69px;
  }
}
