.selection-container {
  margin-left: 20px;
}

.selection-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
}

.selection-container__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.selection-container__button {
  margin-bottom: 21px;
}
