/*.social {
  position: relative;
}*/

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-left: -4px;

  @media (min-width: 768px) {
    margin-left: 25px;
  }

  @media (min-width: 1440px) {
    margin-left: 28px;
    margin-top: -4px;
  }
}

.social__link--vkontakte::before {
  position: absolute;
  content: "";
  width: 280px;
  top: -21px;
  left: -73px;
  border-top: 1px solid #cdcdcd;
}

.social__link--youtube::before {
  position: absolute;
  content: "";
  width: 280px;
  top: 42px;
  left: -124px;
  border-top: 1px solid #cdcdcd;
}

/*.social__list::before {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    top: -21px;
    left: 20px;
    background-image: url("../img/divider-mobile-social.svg");
    background-repeat: no-repeat;
  }
}

.social__list::after {
  @media (max-width: 767px) {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    top: 42px;
    left: 20px;
    background-image: url("../img/divider-mobile-social.svg");
    background-repeat: no-repeat;
  }
}*/

.social__item {
  position: relative;
}

.social__item + .social__item {
  margin-left: 24px;
}

.social__link svg {
  fill: #666666;

  &:hover {
    fill: @basic_green;
  }

  &:active {
    fill: @basic_green;
    opacity: 0.3;
  }
}
