.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 24px;
}

.social__link svg {
  fill: #666666;
}

/*.social-button {
	background-color: #FFFFFF;
}

.social-button svg {
	fill: #83B3D3;
}

.social-button:hover svg {
	fill: #68A2CA;
}

.social-button:focus svg {
	fill: #68A2CA;
}

.social-button:active svg {
	fill: rgba(104, 162, 202, 0.3);
}*/
