.supplement__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.supplement__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.supplement__value {
  margin: 0;
}
