.weight-container {
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 708px;
    margin-top: 4px;
    margin-bottom: 45px;
  }

  @media (min-width: 1440px) {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 130px;
    margin-bottom: 74px;
  }
}

.weight-container__gain .change-weight__title {
  @media (min-width: 768px) {
    margin-top: -6px;
  }

  @media (min-width: 1440px) {
    margin-top: 0;
  }
}

.weight-container__gain .change-weight__inner-wrapper {
  margin-top: 3px;
}

.weight-container__lose {
  @media (min-width: 768px) {
    margin-top: -8px;
  }

  @media (min-width: 1440px) {
    margin-top: 0;
  }
}
