.weight-container {
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}

.weight-container__lose {
  @media (min-width: 1440px) {
    margin: 82px 80px 71px 110px;
  }
}

.weight-container__gain {
  @media (min-width: 1440px) {
    margin: 82px 110px 71px 0;
  }
}
